<%= render :partial => "shared/header" %>
<% javascript_include_tag 'ui.js' %>
<script>
  $(function(){
    $("#menu").draggable();
    $("#datasets").draggable();
  });

  <% if @dataset %>
    window.datasetRanges = <%= @dataset.values.to_json.html_safe %>;
    window.datasetDefaultColumn = '<%= @dataset.default_column_name %>';
    window.datasetCircleRadius = 100;
  <% end %>
</script>
<%= debug @dataset.to_param %>
<div class='tiles-map' id="<%= @dataset.try :to_param %>"></div>
<div id='datasets'>
  <h2>
    Datasets
  </h2>
  <ul>
    <% @datasets.each do |dataset|%>
      <li>
      <%= link_to dataset.name, dataset %>
      </li>
    <%end%>
  </ul>

</div>

<div id='side_menu'>
  <ul>
    <li class="trigger" rel='new'><a href="#"><%= image_tag "home.png", :height=>  '50px' %></a></li>
    <li class="trigger" rel='config'><a href="#"><%= image_tag "like.png" %></a></li>
    <li class="trigger" rel='share'><a href="#"><%= image_tag "shuffle.png" %></a></li>
  </ul>
</div>

<div id='menu'>

  <div id='config' class='item'>
    <h2>Configuration</h2>
    <ul>
      <% @attributes.try :each do |attr|%>
        <li>
          <input name="attribute" type="radio" value="<%= attr %>">
          <label for="attribute"><%= attr %></label>
          </input> 
        </li>
      <%end %>
    </ul>
  </div>

  <div id='new' class='item'>
    <div id='step' class='item'>
      <h2>Upload your CSV file</h2>
    </div>
    <div id='action'>
      <%= render 'uploaded_files/form'%>
    </div>
    <div id='loader'>
      <%= image_tag 'ajax-loader.gif' %>
    </div>

  </div>


  <div id='share' class='item'>
    <h2>Share it</h2>
    <ul>
    </ul>
  </div>
</div>

