<% content_for :head do %>
  <% javascript_include_tag 'ui.js' %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <script>
    $(function(){
      $("#menu").draggable();
      $("#datasets").draggable();
    });

    <% if @dataset %>
      window.datasetRanges = <%= @dataset.values.to_json.html_safe %>;
      window.datasetDefaultColumn = '<%= @dataset.default_column_name %>';
      window.datasetScale = 30;
    <% end %>
  </script>
<% end %>

<div class='tiles-map' id="<%= @dataset.try :to_param %>"></div>
