<% content_for :head do %>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <script src="/assets/jquery-ui.js"></script>
  <script>
    $(function(){
      $("#menu").draggable();
      $("#datasets").draggable();
    });

    <% if @dataset %>
      window.datasetRanges = <%= @dataset.values.to_json.html_safe %>;
      window.datasetDefaultColumn = '<%= @dataset.default_column_name %>';
      window.datasetScale = 30;
    <% end %>
    window.datasetZoom = <%= params[:action] == 'embeded' ? 5 : 6 %>;
  </script>
<% end %>

<div class='tiles-map' id="<%= @dataset.try :to_param %>"></div>

<footer>
<% if @dataset %>
  Dataset Actual - <strong><%= @dataset.name %></strong> - <%= @dataset.description %>
  <em>(Mostrando <%= @dataset.default_column_name %>)</em>
<% end %>
<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0; margin-top:1px;" src="http://i.creativecommons.org/l/by-sa/3.0/80x15.png" /></a><br />This <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Dataset" rel="dct:type">work</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.
</footer>
