<div id='config' class='item'>
  <div id='step'>
    <h2>Configuración</h2>
  </div>
  <% if @dataset.present? %>
    <div class='cross_matcher'>
      <div class='form_x_match'><h3>Genera cruces.</h3>
        <form accept-charset='UTF-8' action="/datasets/<%= @dataset.id %>/add" enctype='multipart/form-data' method='post'>

          <select name="matcher-1">
            <% for attr in @attributes%>
              <option value="<%= attr %>"><%= attr %></option>
            <% end %>
          </select>
          <p>entre:</p>
          <select name="matcher-2">
            <% for attr in @attributes%>
              <option value="<%= attr %>"><%= attr %></option>
            <% end %>
          </select>

          <input type='text' name='name' placeholder="Nombre del cruce" /><input name='commit' type='submit' value='Cruzar'>
        </div>
      </form>
    </div>
  <% end %>
  <div id='step'>
    <h2>Cruces</h2>
  </div>
  <ul>
    <% @attributes.try :each do |attr|%>
      <li>
        <input name="attribute" type="radio" value="<%= attr %>">
        <label for="attribute"><%= attr %></label>
        </input> 
      </li>
    <%end %>
    <input type="range" id="scale" min="50" max="130" />
  </ul>
</div>
