<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Xmatch.info - Connecting the dots</title>
    <%= csrf_meta_tags %>
    <%= yield :head %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <div class="container">
      <%= render :partial => "shared/header" %>
      <%= yield %>
      <div id='datasets'>
        <h2>Más mapas</h2>
        <ul>
          <% @datasets.each do |dataset|%>
            <li><h3><%= link_to truncate(dataset.name), dataset %></h3></li>
          <%end%>
        </ul>
      </div>

      <%= render :partial => "shared/side_menu" %>

      <div id='menu'>
        <div id='top'><span>close x</span></div>
        <%= render :partial => 'shared/share' if @dataset %>
        <%= render :partial => 'shared/settings' %>
        <%= render :partial => 'shared/upload' %>
      </div>
    </div>
		<!-- Floating panels -->
		<div class="popover"><div id="popoverLabel">Hello there!</div></div>
		<div class="call-to-action">
			visualiza
			<p><a href="#" class="button"></a></p>
		</div>
		<!-- -->	
			
		</div>  
  </div>

	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-8224887-3']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</body>
</html>
