<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Xmatch.info - Connecting the dots</title>
    <%= csrf_meta_tags %>
    <%= yield :head %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <div class="container">
      <%= render :partial => "shared/header" %>
      <%= yield %>
      <div id='datasets'>
        <h2>Mas mapas</h2>
        <ul>
          <% @datasets.each do |dataset|%>
            <li><h3><%= link_to truncate(dataset.name), dataset %></h3></li>
          <%end%>
        </ul>
      </div>

      <%= render :partial => "shared/side_menu" %>

      <div id='menu'>
        <div id='top'><span>close x</span></div>
        <%= render :partial => 'shared/share' if @dataset %>
        <%= render :partial => 'shared/settings' %>
        <%= render :partial => 'shared/upload' %>
      </div>
    </div>
		<div class="popover"><div id="popoverLabel">Hello there!</div></div>
		</div>  

    <footer>
      <% if @dataset %>
        <%= @dataset.name %> - <%= @dataset.description %>
        <em>(Mostrando <%= @dataset.default_column_name %>)</em>
      <% end %>
    </footer>
  </div>
</body>
</html>
