<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Xmatch.info - Connecting the dots</title>
    <%= csrf_meta_tags %>
    <%= yield :head %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <div class="container">
      <%= render :partial => "shared/header" %>
      <%= yield %>
      <div id='datasets'>
        <h2>Mas mapas</h2>
        <ul>
          <% @datasets.each do |dataset|%>
            <li><h3><%= link_to truncate(dataset.name), dataset %></h3></li>
          <%end%>
        </ul>
      </div>

      <%= render :partial => "shared/side_menu" %>

      <div id='menu'>
        <div id='top'><span>Cerrar x</span></div>
        <div id='config' class='item'>
          <h2>Configuracion</h2>
          <ul>
            <% @attributes.try :each do |attr|%>
              <li>
              <input name="attribute" type="radio" value="<%= attr %>">
              <label for="attribute"><%= attr %></label>
              </input> 
              </li>
            <%end %>
            <input type="range" id="scale" min="50" max="130" />
          </ul>
          <% if @dataset.present? %>
            <div id='cross_matcher'>
              <div id='form_x_match'><h3>Add a cross match</h3>
                <form accept-charset='UTF-8' action="/datasets/<%= @dataset.id %>/add" enctype='multipart/form-data' method='post'>

                  <select name="matcher-1">
                    <% for attr in @attributes%>
                      <option value="<%= attr %>"><%= attr %></option>
                    <% end %>
                  </select>

                  <select name="matcher-2">
                    <% for attr in @attributes%>
                      <option value="<%= attr %>"><%= attr %></option>
                    <% end %>
                  </select>

                  <input type='text' name='name' /><input name='commit' type='submit' value='Add'>
                </div>
              </form>
            </div>
          <% end %>

        </div>

        <div id='new' class='item'>
          <div id='step' class='item'>
            <h2>Sube tu CSV.</h2>
          </div>
          <div id='action'>
            <%= render 'uploaded_files/form'%>
          </div>
          <div id='loader'>
            <%= image_tag 'ajax-loader.gif' %>
          </div>

        </div>


        <div id='share' class='item'>
          <h2>Compartir</h2>
          <ul>
          </ul>
        </div>
      </div>


      <footer>
      <% if @dataset %>
        Dataset Actual - <strong><%= @dataset.name %></strong> - <%= @dataset.description %>
        <em>(Mostrando <%= @dataset.default_column_name %>)</em>
      <% end %>
      </footer>
    </div>
  </body>
</html>
